// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

// Define fonts for body and headers
$body-font: "Encode Sans", "sans-serif";
$headers-font:"Encode Sans", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

p, a, span, button, label, input, textarea, select, option, li, ul, ol, fieldset, legend, form, body {
  font-family: "Encode Sans", "sans-serif" !important;
}
