body {
  background: rgb(147,115,171);
  background: linear-gradient(180deg, rgba(147,115,171,1) 21%, rgba(188,125,227,1) 69%, rgba(220,194,240,1) 86%, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.button-container {
  display: flex;
  justify-content: space-around; /* Adjusts spacing between buttons */
}
.container {
  width: 100%;
}
.column {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.small-button {
  width: 80px;  /* Adjusts button width */
  height: 60px;  /* Adjusts button height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: small !important; /* Adjusts font size */
}

.small-button img {
  width: 26px;  /* Adjusts image width */
  height: 26px;  /* Adjusts image height */
}

.small-map iframe {
  width: 300px !important;  /* Adjust as needed */
  height: 200px !important;  /* Adjust as needed */
}

@media (min-width: 600px) {
  .column {
      width: 50%;
      float: left;
  }
}
