body {
  background: rgb(147,115,171);
  background: linear-gradient(180deg, rgba(147,115,171,1) 21%, rgba(188,125,227,1) 69%, rgba(220,194,240,1) 86%, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
}

.logo-angel{
  position:inherit;
  width: 100%;
  height: auto;
}
