<div class="" style="height: 130px"></div>
<div class="mobile-nav">
  <button class="button-sos">SOS</button>
  <div class="dropdown">
    <button class="dropdown-toggle button-menu" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Menu
    </button>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item text-decoration-none" href="#">Profile</a></li>
    <li><a class="dropdown-item" href="#">Messages</a></li>
    <li><%= link_to 'Communities', communities_path %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
  </ul>
  </div>
</div>
