<div class="" style="height: 130px"></div>
<div class="mobile-nav">
  <a href="tel:999" class="button-sos">SOS</a>
  <div class="dropdown">
    <button class="dropdown-toggle button-menu" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Menu
    </button>
  <ul class="dropdown-menu">
    <li><%= link_to "Profile", profile_path(current_user), class:"dropdown-item" %></li>
    <li> <%=link_to "Messages", chatrooms_path, class:"dropdown-item"%></li>
    <li> <%=link_to "Communities", "#", class:"dropdown-item"%></li>
    <li><%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
  </ul>
  </div>
</div>
