<div class="" style="height: 130px"></div>
<div class="mobile-nav">
  <button class="button-sos">SOS</button>
  <div class="dropdown">
    <button class="dropdown-toggle button-menu" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Menu
      </button>
     <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Profile</a></li>
    <li><a class="dropdown-item" href="#">Messages</a></li>
    <li><a class="dropdown-item" href="#">Communities</a></li>
    <li><a class="dropdown-item" href="#">Sign-out</a></li>
  </ul>
  </div>
</div>
