
  <div class="container border mt-3 text-center w-100 pb-5">

    <p class="m-5"><strong>What would you like to report?</strong></p>

      <div class="row">
        <div class="col">

        <div class="d-flex justify-content-evenly mb-3" >
          <div class="card btn p-3 rounded-2 border border-4">Harrassment
             <%= image_tag 'harrassment.png', height: 90, width: 90, alt: "Harrassment icon", class: "ml-2 mt-4"%>
          </div>

          <div class="card btn p-3 border border-4">Anti-social behaviour
            <%= image_tag 'antisocial.png', height: 80, width: 82, alt: "Harrassment icon", class: "ml-2 mt-2 pl-1 pt-1"%>
          </div>
        </div>

        <div class="d-flex justify-content-evenly">
          <div class="card btn p-3 border">Poor Lightning
            <%= image_tag 'poorlight.png', height: 80, width: 90, alt: "Harrassment icon", class: "ml-2 mt-2 pr-1"%>
          </div>

          <div class="card btn p-3 border">Hate Crime
            <%= image_tag 'hatecrime.png', height: 90, width: 90, alt: "Harrassment icon", class: "ml-2 mt-4 pt-1"%>
          </div>
        </div>

    </div>
  </div>
</div>
