<h1>Angel</h1>
  <div class="d-flex align-content-between flex-row">
    <div class="row"></div>
    <div class="col p-2">
        <div class="p-4 border">Report</div>
        <div class="p-4 border">Safe Places</div>
        <div class="p-4 border">Safe Journey</div>
        </div>
        <div class="col p-2">
        <div class="p-4 border">Safe Map</div>
        <div class="p-4 border">Community</div>
        <div class="p-4 border">Take me home</div>
        </div>
        <div class="col p-2">
        <div class="p-4 border">Contact</div>
        <div class="p-4 border">Tips & Tricks</div>
        <div class="p-4 border">Crime</div>
        </div>
        </div>
    </div>
