
  <div class="logo">
    <%= image_tag "angel_logo.png", height: 300, width: 300, alt: "logo", class:"logo-angel img-fluid" %>
  </div>
    <div class="container">
      <div class="d-flex justify-content-center flex-row img-fluid">
        <div class="row">
          <div class="col p-2">
            <div class="btn btn-light p-3 border rounded" style="box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);" style="max-width:100%;height:auto;">
              <img src="<%= image_path('icons8-high-importance-80.png') %>" class="shadow-sm img-fluid"/>
                Report</div>
              <div class="btn btn-light p-3 border rounded" style="box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);" style="max-width:100%;height:auto;">
                <img src="<%= image_path('icons8-home-address-80.png') %>" style="max-width:100%;height:auto;" class="shadow-sm img-fluid"/>
                  Take me home</div>
                <div class="btn btn-light p-3 border rounded" style="box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);" style="max-width:100%;height:auto;">
                  <img src="<%= image_path('icons8-journey-64.png') %> "class="shadow-sm img-fluid" style="max-width:100%;height:auto;"/>
                  Plan your Journey</div>
            </div>
        </div>
      </div>
    </div>
