<div class="background">
  <%= image_tag "background-image.jpg", class:"background-image" %>
  <div class="banner">
    <div class="image">
      <%= image_tag "banner-image.jpg", class:"banner-image" %>
    </div>
  </div>
</div>
