<%= link_to image_tag("back-button2.png", alt: "Back", class: "d-flex back-button rounded-4"), homepage_path %>
<div id="map">
  <%= render "map" %>
</div>


<%# THIS NEEDS TO BE UPDATED WITH NICOLE'S REPORT BUTTON %>
    <%# <div id="menu-btn">
      <div class="btn btn-light rounded-circle position-absolute bottom-0 end-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div> %>

<div id="instructions" class="d-none"></div>


  <%= render "shared/reportpopup" %>
