
h1{
  color: white;
  font-weight: bold;
}

#communities {
  margin-top: 30px;
  margin-bottom: 30px;
}

#community_name p {
  font-size:larger;
  margin-top: 5px;
}

#back_button p{
  font-size: larger;
  margin-top: 7px;
}

.community-index-btn {
  height: 93px;
  background-color: rgb(156, 154, 154);

  background-image: linear-gradient(rgba(236, 195, 248, 0.892),rgba(250, 250, 250, 0.871));
  box-shadow: 2px 2px 2px 1px rgba(238, 238, 238, 0.847);

}
