#communities {
  margin-top: 30px;
  margin-bottom: 30px;
}

#community_name p {
  font-size:larger;
  margin-top: 5px;
}

#back_button p{
  font-size: larger;
  margin-top: 7px;
}

.community-index-btn {
  height: 93px;
  background-color: white;
  background-image: linear-gradient(rgb(249, 230, 251),rgb(214, 214, 214));
}
