#communities {
  margin-top: 30px;
  margin-bottom: 30px;
}

#community_name p {
  font-size:larger;
  margin-top: 5px;
}

#back_button p{
  font-size: larger;
  margin-top: 7px;
}

.back-button-arrow {
  font-size: 2.8rem;
  color: #593a72;
  margin-top: 10px;
}
// #community_name {
//   // background-color: rgb(242, 157, 120);
//   background-image: linear-gradient(rgb(246, 244, 210),rgb(242, 157, 120));
//   box-shadow: 1px 1px 1px orange;
// }
// background-color: #F19C79
