// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "report";
@import "chatroom";
@import "message";
@import "profile";
@import "show";

#communities {
  margin-top: 30px;
  margin-bottom: 30px;
}

#community_name p {
  font-size:larger;
  margin-top: 5px;
}

#back_button p{
  font-size: larger;
  margin-top: 7px;
}
