.profile-info {
  background-color: white;
  background-image: linear-gradient(rgb(245, 220, 248),rgb(190, 184, 184));
  margin: 35px auto;
  border-radius: 5px;
}

.profile-info p {
  text-align: start;
  padding-left: 5px;
  font-size: 2rem;
}

.profile-photo {
  width: 250px;
  height: 250px;
  margin: 35px auto;
  border-radius: 50%;
  object-fit: cover;
}

.line-break {
  background-color: rgba(128, 128, 128, 0.74);
  height: 15px;
}

.profile-edit {
  padding: auto 10px;
}
