<div class="container">
  <div class="row">
    <div class="col">

      <div class="d-flex justify-content-start mt-4 mb-3">
        <%= link_to image_tag("back-button2.png", alt: "Back", class: "d-flex rounded-4 mr-4"), homepage_path %>
          <h1 class="ml-2 pl-1">Communities</h1>
      </div>

      <% @communities.each do |community| %>
          <div class="btn btn-light rounded-4 w-100 p-3 my-3" id="community_name">
            <p><%= link_to community.name, community, class: "text-black" %></p>
          </div>
      <% end %>

    </div>

        </div>
    </div>
</div>
